# This workflow will run build using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Tests

on:
  push:
  workflow_call: # workflow can be called by another workflow
  workflow_dispatch: # workflow can be called manually

concurrency:
  group: test-group
  cancel-in-progress: false

jobs:

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    env:
      SDK_TEST_REGULAR_USER_ACCESS_TOKEN: ${{ secrets.SDK_TEST_REGULAR_USER_ACCESS_TOKEN }}
      SDK_TEST_REGULAR_USER_REFRESH_TOKEN: ${{ secrets.SDK_TEST_REGULAR_USER_REFRESH_TOKEN }}
      SDK_TEST_BALANCE_USER_ACCESS_TOKEN: ${{ secrets.SDK_TEST_BALANCE_USER_ACCESS_TOKEN }}
      SDK_TEST_BALANCE_USER_REFRESH_TOKEN: ${{ secrets.SDK_TEST_BALANCE_USER_REFRESH_TOKEN }}
      SDK_TEST_BALANCE_USER1_ACCESS_TOKEN: ${{ secrets.SDK_TEST_BALANCE_USER1_ACCESS_TOKEN }}
      SDK_TEST_BALANCE_USER1_REFRESH_TOKEN: ${{ secrets.SDK_TEST_BALANCE_USER1_REFRESH_TOKEN }}
      SDK_TEST_MARGIN_USER_ACCESS_TOKEN: ${{ secrets.SDK_TEST_MARGIN_USER_ACCESS_TOKEN }}
      SDK_TEST_MARGIN_USER_REFRESH_TOKEN: ${{ secrets.SDK_TEST_MARGIN_USER_REFRESH_TOKEN }}
      SDK_TEST_POSITIONS_USER_ACCESS_TOKEN: ${{ secrets.SDK_TEST_POSITIONS_USER_ACCESS_TOKEN }}
      SDK_TEST_POSITIONS_USER_REFRESH_TOKEN: ${{ secrets.SDK_TEST_POSITIONS_USER_REFRESH_TOKEN }}
      SDK_TEST_HISTORY_POSITIONS_USER_ACCESS_TOKEN: ${{ secrets.SDK_TEST_HISTORY_POSITIONS_USER_ACCESS_TOKEN }}
      SDK_TEST_HISTORY_POSITIONS_USER_REFRESH_TOKEN: ${{ secrets.SDK_TEST_HISTORY_POSITIONS_USER_REFRESH_TOKEN }}
      GH_SECRETS_TOKEN: ${{ secrets.GH_SECRETS_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Read vars
        run: |
          cat <<EOF > test/vars.js
          ${{ secrets.VARS }}
          EOF
      - run: npm install
      - name: Run tests for Node.js
        run: npm test

  test_browser:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs: test
    env:
      SDK_TEST_REGULAR_USER_ACCESS_TOKEN: ${{ secrets.SDK_TEST_REGULAR_USER_ACCESS_TOKEN }}
      SDK_TEST_REGULAR_USER_REFRESH_TOKEN: ${{ secrets.SDK_TEST_REGULAR_USER_REFRESH_TOKEN }}
      SDK_TEST_BALANCE_USER_ACCESS_TOKEN: ${{ secrets.SDK_TEST_BALANCE_USER_ACCESS_TOKEN }}
      SDK_TEST_BALANCE_USER_REFRESH_TOKEN: ${{ secrets.SDK_TEST_BALANCE_USER_REFRESH_TOKEN }}
      SDK_TEST_BALANCE_USER1_ACCESS_TOKEN: ${{ secrets.SDK_TEST_BALANCE_USER1_ACCESS_TOKEN }}
      SDK_TEST_BALANCE_USER1_REFRESH_TOKEN: ${{ secrets.SDK_TEST_BALANCE_USER1_REFRESH_TOKEN }}
      SDK_TEST_MARGIN_USER_ACCESS_TOKEN: ${{ secrets.SDK_TEST_MARGIN_USER_ACCESS_TOKEN }}
      SDK_TEST_MARGIN_USER_REFRESH_TOKEN: ${{ secrets.SDK_TEST_MARGIN_USER_REFRESH_TOKEN }}
      SDK_TEST_POSITIONS_USER_ACCESS_TOKEN: ${{ secrets.SDK_TEST_POSITIONS_USER_ACCESS_TOKEN }}
      SDK_TEST_POSITIONS_USER_REFRESH_TOKEN: ${{ secrets.SDK_TEST_POSITIONS_USER_REFRESH_TOKEN }}
      SDK_TEST_HISTORY_POSITIONS_USER_ACCESS_TOKEN: ${{ secrets.SDK_TEST_HISTORY_POSITIONS_USER_ACCESS_TOKEN }}
      SDK_TEST_HISTORY_POSITIONS_USER_REFRESH_TOKEN: ${{ secrets.SDK_TEST_HISTORY_POSITIONS_USER_REFRESH_TOKEN }}
      GH_SECRETS_TOKEN: ${{ secrets.GH_SECRETS_TOKEN }}
    steps:
      - name: Wait for secrets propagation
        run: sleep 30
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Read vars
        run: |
          cat <<EOF > test/vars.js
          ${{ secrets.VARS }}
          EOF
      - run: npm install
      - name: Run tests for browser
        run: npm run test:browser
